<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="ball-climbing-dot" [fullScreen]="true">
  <p style="color: white"> Loading... </p>
</ngx-spinner>

<div class="toolbar" role="banner">
  <img src="./assets/icon.svg" style="margin: 0 15px;">

  <a style="color: white;" routerLink="/" queryParamsHandling="preserve">WhatsApp Analytics</a>
  <div class="spacer"></div>
  <div (click)="onScrollTo('howto')" *ngIf="!isDataAnalyzed">
    <img src="./assets/question-mark.png" style="height: 42px;">
  </div>

</div>

<body class="main-body">
  <section class="visulizations-container" *ngIf="isDataAnalyzed">
    <div class="card-container">

      <div class="card card-small" *ngFor="let analysis of analysisPerAuthor | keyvalue; let idx = index"
        [style.background]="getColorCode(idx)">
        <span>{{ analysis.value.author }} : <b>{{ analysis.value.messageCount | number}}</b> messages</span>
      </div>

      <div class="card card-small">
        <span>Total : <b>{{totalMsgCount | number }}</b> messages</span>
      </div>

    </div>
    <div class="widget-container" *ngIf="isDataAnalyzed">
      <ng-container *ngFor="let analysis of analysisPerAuthor | keyvalue; let idx = index">
        <app-frequent-words class="item" [authorAnalysis]="analysis.value"></app-frequent-words>
      </ng-container>
      
    
      <app-pie-chart-msg-comp class="item" [analysisPerAuthor]="analysisPerAuthor" [totalMsgCount]="totalMsgCount">
      </app-pie-chart-msg-comp>
      <app-daily-chats-anlysis class="item" [messages]="messages"></app-daily-chats-anlysis>
      <app-emoji-bar-chart class="item" [analysisPerAuthor]="analysisPerAuthor">
      </app-emoji-bar-chart>
      <app-hourly-msg-cnt-bar-chart class="item" [analysisPerAuthor]="analysisPerAuthor"></app-hourly-msg-cnt-bar-chart>
      <app-week-day-msg-cnt-bar-chart class="item" [analysisPerAuthor]="analysisPerAuthor">
      </app-week-day-msg-cnt-bar-chart>
    </div>
  </section>


  <section id="preview" class="main-container" *ngIf="!isDataAnalyzed">
    <div class="container" style="margin-top: 20px;">
      <img src="./assets/icon.svg" style="margin-right: 10px;">
      <h1 style="font-size: 40px;">WhatsApp Analytics</h1>
    </div>
    <div class="preview_wrapper" style="margin-top: 25px;">
      <div class="demo-container">
        <img class="preview-img" src="./assets/preview-new.png">
        <div class="demo-button-wrapper">
          <button class="button demo-button" (click)="showDemoModal = true">Demo</button>
        </div>
      </div>
      <p class="main-message">
        📊 Visualize your WhatsApp Chats !<br><br>

        Find Some Interesting Patterns ❤
      </p>
    </div>

    <div class="container" style="margin-top: 40px;">
      <button class="choose-btn">📁 Choose Chat File
        <input type="file" (change)="onFileSelect($event.target.files)" />
      </button>
    </div>
    <div class="container">
      <p class="note-txt">
        <b>Note -</b> We don't collect your chat data. All the data analysis is done on the client side.
      </p>
    </div>


  </section>

  <section *ngIf="isDataAnalyzed && !isDemoApp">
    <div class="container">
      <button class="choose-btn">📁 Choose Another Chat File
        <input type="file" (change)="onFileSelect($event.target.files)" />
      </button>
    </div>
  </section>

  <section class="instructions" id="howto" *ngIf="!isDataAnalyzed">
    <h2>How to use WhatsApp Analytics?</h2>
    <p>
      In order to use WhatsApp Analytics you need to <b>export your WhatsApp chat</b>
      Here's a step by step tutorial of how to export your chat:
    </p>
    <ol>
      <li>Go to WhatsApp in your mobile phone and select the desired group or personal chat.
      </li>
      <li>Press the context menu (<img src="./assets/menu.png" style="width: 20px; margin: 0 3px;">) in the top right
        corner..
      </li>
      <li>
        In the context menu, select the <b>"More"</b> item.
        <img src="./assets/more-options.jpeg" style="max-height: 300px; display: block; margin-top: 10px;">
      </li>
      <li>
        In the new menu, choose <b>"Export Chat"</b>
        <img src="./assets/export-option.jpeg" style="max-height: 300px; display: block; margin-top: 10px;">
      </li>
      <li>
        You should get a popup where you need to choose between exporting with or without media.
        Choose the <b>"Without Media"</b> option.
        <img src="./assets/without-media.jpeg"
          style="max-height: 150px; display: block; margin-top: 10px; max-width: 100%">
      </li>
      <li>Email the exported text file to yourself.
        <img src="./assets/email.png" style="max-height: 210px; display: block; margin-top: 10px;">
      </li>
      <li>Download the chat file to your phone, and select that file to <a>WhatsApp Analytics</a>.</li>
    </ol>
  </section>
</body>

<footer class="container">
  <div class="card highlight-card card-small">
    <img id="user-icon" src="./assets/user.svg">
    <span>Developed By <a target="_blank" href="https://twitter.com/saurabh47g">Saurabh Gangamwar</a></span>
  </div>
</footer>
<router-outlet></router-outlet>


<div *ngIf="showDemoModal" id="open-modal" class="modal-window" [class.isVisible]="showDemoModal">
  <div>
    <div class="modal-close" (click)="showDemoModal = false"></div>
    <iframe [src]="sanitizedDemoURL" style="width: 100%;height: 100%;border: 0px;"></iframe>
  </div>
</div>